.config-container {
	display: inline-block;
	border: 0.1ch solid lightgray;
	padding: 0.2em 1ch;
	border-radius: 0.4em;
	font-size: 1.5em;
	margin: 0.5ch 0.25ch;
	outline: none;
}
.config-name {
	line-height: 1.5;
	font-size: 0.5em;
}
.config-textbox {
	display: block;
	height: 0;
	opacity: 0;
	border: 0;
	outline: none;
	background: none;
	font-family: monospace;
	font-size: inherit;
	padding: 0;
	float: left;
	transition: height 0.3s ease-in-out;
}
.config-textbox[type=text], .config-textbox[type=password] {
	width: 32ch;
}
.config-textbox[type=number] {
	width: 100%;
	width: 8.866ch;
}
.config-container-open > .config-textbox {
	height: 1.5em;
	opacity: 1;
}

.config-console-container {
	height: 256px;
	width: 68.7ch;
	border: 0.1ch solid gray;
	overflow: scroll;
	font-family: monospace;
	font-size: 1.5em;
}
.config-console {
	white-space: pre-wrap;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 0.75em;
	font-size: 0.6em;
}

form {
	display: table;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background: white;
	padding: 1em 1em 2em;
}
form > :not(label) {
	margin: 0 0.25em;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #eee;
	margin: 0;
}
html,body {
	height: 100%;
}


input:invalid {
	background: red;
}
